<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retech.qc.mapper.FrontProductMapper" >
  <resultMap id="BaseResultMap" type="com.retech.qc.entity.FrontProduct" >
    <id column="seqid" property="seqid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="pstatus" property="pstatus" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="publishtime" property="publishtime" jdbcType="DATE" />
    <result column="overplus" property="overplus" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="creatorid" property="creatorid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.retech.qc.entity.FrontProduct" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    seqid, pname, description, pstatus, point, cover, publishtime, overplus, price, createdtime, 
    creatorid, status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.retech.qc.entity.FrontProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from front_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retech.qc.entity.FrontProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from front_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from front_product
    where seqid = #{seqid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from front_product
    where seqid = #{seqid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.retech.qc.entity.FrontProductExample" >
    delete from front_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.retech.qc.entity.FrontProduct" >
    insert into front_product (seqid, pname, description, 
      pstatus, point, cover, 
      publishtime, overplus, price, 
      createdtime, creatorid, status, 
      content)
    values (#{seqid,jdbcType=INTEGER}, #{pname,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{pstatus,jdbcType=VARCHAR}, #{point,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{publishtime,jdbcType=DATE}, #{overplus,jdbcType=INTEGER}, #{price,jdbcType=REAL}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{creatorid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.retech.qc.entity.FrontProduct" >
    insert into front_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        seqid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="pstatus != null" >
        pstatus,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
      <if test="overplus != null" >
        overplus,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="creatorid != null" >
        creatorid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        #{seqid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pstatus != null" >
        #{pstatus,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=DATE},
      </if>
      <if test="overplus != null" >
        #{overplus,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorid != null" >
        #{creatorid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retech.qc.entity.FrontProductExample" resultType="java.lang.Integer" >
    select count(*) from front_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update front_product
    <set >
      <if test="record.seqid != null" >
        seqid = #{record.seqid,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.pstatus != null" >
        pstatus = #{record.pstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.point != null" >
        point = #{record.point,jdbcType=VARCHAR},
      </if>
      <if test="record.cover != null" >
        cover = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.publishtime != null" >
        publishtime = #{record.publishtime,jdbcType=DATE},
      </if>
      <if test="record.overplus != null" >
        overplus = #{record.overplus,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.createdtime != null" >
        createdtime = #{record.createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorid != null" >
        creatorid = #{record.creatorid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update front_product
    set seqid = #{record.seqid,jdbcType=INTEGER},
      pname = #{record.pname,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      pstatus = #{record.pstatus,jdbcType=VARCHAR},
      point = #{record.point,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      publishtime = #{record.publishtime,jdbcType=DATE},
      overplus = #{record.overplus,jdbcType=INTEGER},
      price = #{record.price,jdbcType=REAL},
      createdtime = #{record.createdtime,jdbcType=TIMESTAMP},
      creatorid = #{record.creatorid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update front_product
    set seqid = #{record.seqid,jdbcType=INTEGER},
      pname = #{record.pname,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      pstatus = #{record.pstatus,jdbcType=VARCHAR},
      point = #{record.point,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      publishtime = #{record.publishtime,jdbcType=DATE},
      overplus = #{record.overplus,jdbcType=INTEGER},
      price = #{record.price,jdbcType=REAL},
      createdtime = #{record.createdtime,jdbcType=TIMESTAMP},
      creatorid = #{record.creatorid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.retech.qc.entity.FrontProduct" >
    update front_product
    <set >
      <if test="pname != null" >
        pname = #{pname,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pstatus != null" >
        pstatus = #{pstatus,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=DATE},
      </if>
      <if test="overplus != null" >
        overplus = #{overplus,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorid != null" >
        creatorid = #{creatorid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where seqid = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.retech.qc.entity.FrontProduct" >
    update front_product
    set pname = #{pname,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      pstatus = #{pstatus,jdbcType=VARCHAR},
      point = #{point,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      publishtime = #{publishtime,jdbcType=DATE},
      overplus = #{overplus,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      creatorid = #{creatorid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where seqid = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.retech.qc.entity.FrontProduct" >
    update front_product
    set pname = #{pname,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      pstatus = #{pstatus,jdbcType=VARCHAR},
      point = #{point,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      publishtime = #{publishtime,jdbcType=DATE},
      overplus = #{overplus,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      creatorid = #{creatorid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where seqid = #{seqid,jdbcType=INTEGER}
  </update>
</mapper>