<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retech.qc.mapper.custom.MouldsManageCustomMapper" >

<resultMap id="BaseResultMap" type="com.retech.qc.entity.custom.MouldsCustomBean" >
    <id column="MouldID" property="mouldid" jdbcType="INTEGER" />
    <result column="MouldName" property="mouldname" jdbcType="VARCHAR" />
    <result column="MouldType" property="mouldtype" jdbcType="INTEGER" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="DicName" property="mouldtypename" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    MouldID, MouldName, MouldType, Description,DicName
  </sql>
  <select id="listCustom" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from db_moulds a left join base_dics d on a.MouldType = d.DicValue
    where
        DicType = 'mouldtype' and d.isdictype = 0
  	order by MouldID desc
  </select>
  <select id="count" parameterType="com.retech.qc.entity.custom.MouldsManageSearchBean" resultType="java.lang.Integer" >
    select count(MouldID) from db_moulds a left join base_dics d on a.MouldType = d.DicValue
    where
        DicType = 'mouldtype' and d.isdictype = 0
        <if test="mouldId != null and mouldId != ''">
           and MouldID = #{mouldId}
        </if>
        <if test="mouldName != null and mouldName != ''">
           and MouldName = #{mouldName}
        </if>
        <if test="mouldType != null and mouldType != ''">
           and MouldType = #{mouldType}
        </if>
  </select>

  <!-- 检查唯一性 -->
  <select id="checkUniqueness" resultType="java.lang.Integer" parameterType="com.retech.qc.entity.DbMoulds" >
    select count(MouldID) from db_moulds
    <where>
        <if test="mouldid != null and mouldid != ''">
           and MouldID != #{mouldid}
        </if>
        <if test="mouldname != null and mouldname != ''">
           and MouldName = #{mouldname}
        </if>
    </where>
  </select>

  <delete id="deleteBatch" parameterType="java.lang.String" >
    delete from db_moulds
    where MouldID in 
    <foreach item="mouldMsg" collection="list" open="(" separator="," close=")">
	#{mouldMsg}
	</foreach>
  </delete>
  
</mapper>